a{
    position: fixed;
    top: 20px;
    right: 20px;
}
body{
    background-color: rgb(213, 205, 205);
}
table{
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    background-color: azure;
}
th{
    border: 1px solid #fd0000;
    padding: 12px;
    background-color: #ce4813;
    color: white;
}
td{
    border: 0.5px solid #da460c;
}
h2{
    font-size: 28px;
    color: #333;
    text-align: center;
}